.made {
    &__content {
        background: #FAFAFA;
        height: 74px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    &__charts {
        display: flex;
        gap: 20px;
    }
}